@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Gabriela&family=Lora:wght@400;600;700&family=Roboto:wght@300;400;500;700&display=swap");

@layer base {
  body, .navbar, .navbar ul {
    @apply font-[Roboto] bg-gradient-to-r to-yellow-300 from-amber-300;
  }
  li {
    @apply font-semibold px-4 cursor-pointer;
  }
  h1,
  h2,
  h3 {
    @apply font-[Gabriela] z-20;
  }
  .skills .content-item {
    @apply pt-4;
    @apply shadow-xl;
    @apply hover:scale-110;
    @apply duration-75;
    @apply bg-[#f6f4f6];
    @apply text-sm;
    @apply text-[#342c34];
    @apply rounded-xl;
  }

  .content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 180px;
  }

  .projects .content-item {
    @apply mx-auto;
    @apply shadow-lg;
    @apply shadow-[#423842];
    @apply container;
    @apply rounded-lg;
    @apply flex;
    @apply justify-center;
    @apply items-center;
    @apply text-center;
  }

  .content-div:hover {
    background-image: linear-gradient(
      to bottom right,
      #FBBF24,
      #F59E0B
    ) !important;
  }

  .animate-scale, .animate-scale-group li {
    @apply transform delay-75 hover:scale-110 hover:drop-shadow-xl;
  }

  .side-nav-group li {
    @apply hover:rounded-r-xl w-[160px] h-[60px] flex justify-between items-center ml-[-100px] hover:ml-[-10px] duration-300;
  }

  .side-nav-group li a {
    @apply flex justify-between items-center w-full;
  }
}
